*~
!.*

composer.phar

vendor/

.idea/

.phpunit.result.cache
.phpunit.cache

coverage

# prevent accidental data uploads, we do not expect any sql or csv files here except in the database folder
*.sql
*.sql.gz
*.csv

/.docker/database/*
!/.docker/database/01_memberships.sql
!/.docker/database/03_new_payments.sql

*.bak

.env
